<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>打开腾讯微博</key>
		<string>Web</string>
		<key>打开京东</key>
		<string>Web</string>
		<key>打开天猫</key>
		<string>Web</string>
		<key>打开腾讯网</key>
		<string>Web</string>
		<key>打开搜狐</key>
		<string>Web</string>
		<key>打开新浪微博</key>
		<string>Web</string>
		<key>打开新浪</key>
		<string>Web</string>
		<key>打开淘宝</key>
		<string>Web</string>
		<key>打开谷歌</key>
		<string>Web</string>
		<key>打开百度</key>
		<string>Web</string>
		<key>播放ｐｐｔ</key>
		<string>Office</string>
		<key>放映幻灯片</key>
		<string>Office</string>
		<key>关闭ｅｘｃｅｌ</key>
		<string>Office</string>
		<key>关闭ｗｏｒｄ</key>
		<string>Office</string>
		<key>打开ｅｘｃｅｌ</key>
		<string>Office</string>
		<key>打开ｐｐｔ</key>
		<string>Office</string>
		<key>打开ｗｏｒｄ</key>
		<string>Office</string>
		<key>最后一页</key>
		<string>Office</string>
		<key>第一页</key>
		<string>Office</string>
		<key>关闭ｐｐｔ</key>
		<string>Office</string>
		<key>上一页ｐｐｔ</key>
		<string>Office</string>
		<key>下一页ｐｐｔ</key>
		<string>Office</string>
		<key>打开ｃ盘</key>
		<string>Cmd</string>
		<key>打开ｄ盘</key>
		<string>Cmd</string>
		<key>打开ｅ盘</key>
		<string>Cmd</string>
		<key>打开ｆ盘</key>
		<string>Cmd</string>
		<key>打开桌面文件</key>
		<string>Cmd</string>
		<key>截屏</key>
		<string>Cmd</string>
		<key>注销</key>
		<string>Cmd</string>
		<key>关机</key>
		<string>Cmd</string>
		<key>休眠</key>
		<string>Cmd</string>
		<key>重启</key>
		<string>Cmd</string>
		<key>增大音量</key>
		<string>Cmd</string>
		<key>减小音量</key>
		<string>Cmd</string>
		<key>打开画图</key>
		<string>Cmd</string>
		<key>打开计算器</key>
		<string>Cmd</string>
		<key>打开记事本</key>
		<string>Cmd</string>
		<key>打开命令提示符</key>
		<string>Cmd</string>
		<key>打开写字板</key>
		<string>Cmd</string>
		<key>打开远程桌面连接</key>
		<string>Cmd</string>
		<key>打开运行</key>
		<string>Cmd</string>
		<key>打开任务管理器</key>
		<string>Cmd</string>
		<key>打开资源管理器</key>
		<string>Cmd</string>
		<key>打开设备管理器</key>
		<string>Cmd</string>
		<key>打开ｉｅ浏览器</key>
		<string>Cmd</string>
		<key>打开注册表</key>
		<string>Cmd</string>
		<key>打开控制面板</key>
		<string>Cmd</string>
		<key>关闭画图</key>
		<string>Cmd</string>
		<key>关闭计算器</key>
		<string>Cmd</string>
		<key>关闭记事本</key>
		<string>Cmd</string>
		<key>关闭录音机</key>
		<string>Cmd</string>
		<key>关闭命令提示符</key>
		<string>Cmd</string>
		<key>关闭写字板</key>
		<string>Cmd</string>
		<key>关闭远程桌面连接</key>
		<string>Cmd</string>
		<key>关闭运行</key>
		<string>Cmd</string>
		<key>关闭任务管理器</key>
		<string>Cmd</string>
		<key>关闭资源管理器</key>
		<string>Cmd</string>
		<key>关闭设备管理器</key>
		<string>Cmd</string>
		<key>关闭ｉｅ浏览器</key>
		<string>Cmd</string>
		<key>关闭控制面板</key>
		<string>Cmd</string>
	</dict>
	<dict>
		<key>打开腾讯微博</key>
		<string>Open_TencentWeibo</string>
		<key>打开京东</key>
		<string>Open_JD</string>
		<key>打开天猫</key>
		<string>Open_TMALL</string>
		<key>打开腾讯网</key>
		<string>Open_Tencent</string>
		<key>打开搜狐</key>
		<string>Open_Sohu</string>
		<key>打开新浪微博</key>
		<string>Open_SinaWeibo</string>
		<key>打开新浪</key>
		<string>Open_Sina</string>
		<key>打开淘宝</key>
		<string>Open_Taobao</string>
		<key>打开谷歌</key>
		<string>Open_Google</string>
		<key>打开百度</key>
		<string>Open_Baidu</string>
		<key>播放ｐｐｔ</key>
		<string>Play_powerpnt</string>
		<key>放映幻灯片</key>
		<string>Play_powerpnt</string>
		<key>关闭ｅｘｃｅｌ</key>
		<string>Close</string>
		<key>关闭ｗｏｒｄ</key>
		<string>Close</string>
		<key>打开ｅｘｃｅｌ</key>
		<string>Win_excel</string>
		<key>打开ｐｐｔ</key>
		<string>Win_powerpnt</string>
		<key>打开ｗｏｒｄ</key>
		<string>Win_winword</string>
		<key>最后一页</key>
		<string>Last_PowerPoint</string>
		<key>第一页</key>
		<string>Frist_PowerPoint</string>
		<key>关闭ｐｐｔ</key>
		<string>Close_PowerPoint</string>
		<key>上一页ｐｐｔ</key>
		<string>Up_PowerPoint</string>
		<key>下一页ｐｐｔ</key>
		<string>Down_PowerPoint</string>
		<key>打开ｃ盘</key>
		<string>Win_DiskC</string>
		<key>打开ｄ盘</key>
		<string>Win_DiskD</string>
		<key>打开ｅ盘</key>
		<string>Win_DiskE</string>
		<key>打开ｆ盘</key>
		<string>Win_DiskF</string>
		<key>打开桌面文件</key>
		<string>Win_Desktop</string>
		<key>截屏</key>
		<string>Win_Screenshot</string>
		<key>注销</key>
		<string>Win_Logoff</string>
		<key>关机</key>
		<string>Win_Shutdown</string>
		<key>休眠</key>
		<string>Win_Sleep</string>
		<key>重启</key>
		<string>Win_Reset</string>
		<key>增大音量</key>
		<string>Win_VolumeUp</string>
		<key>减小音量</key>
		<string>Win_VolumeDown</string>
		<key>打开画图</key>
		<string>Win_mspaint</string>
		<key>打开计算器</key>
		<string>Win_calc</string>
		<key>打开记事本</key>
		<string>Win_notepad</string>
		<key>打开命令提示符</key>
		<string>Win_cmd</string>
		<key>打开写字板</key>
		<string>Win_write</string>
		<key>打开远程桌面连接</key>
		<string>Win_mstsc</string>
		<key>打开运行</key>
		<string>Win_user</string>
		<key>打开任务管理器</key>
		<string>Win_taskmgr</string>
		<key>打开资源管理器</key>
		<string>Win_explorer</string>
		<key>打开设备管理器</key>
		<string>Win_devmgmt.msc</string>
		<key>打开ｉｅ浏览器</key>
		<string>Win_iexplore.exe</string>
		<key>打开注册表</key>
		<string>Win_regedt32</string>
		<key>打开控制面板</key>
		<string>Win_control</string>
		<key>关闭画图</key>
		<string>Close</string>
		<key>关闭计算器</key>
		<string>Close</string>
		<key>关闭记事本</key>
		<string>Close</string>
		<key>关闭录音机</key>
		<string>Close</string>
		<key>关闭命令提示符</key>
		<string>Close</string>
		<key>关闭写字板</key>
		<string>Close</string>
		<key>关闭远程桌面连接</key>
		<string>Close</string>
		<key>关闭运行</key>
		<string>Close</string>
		<key>关闭任务管理器</key>
		<string>Close</string>
		<key>关闭资源管理器</key>
		<string>Close</string>
		<key>关闭设备管理器</key>
		<string>Close</string>
		<key>关闭ｉｅ浏览器</key>
		<string>Close</string>
		<key>关闭控制面板</key>
		<string>Close</string>
	</dict>
</array>
</plist>
